.gallery{
    width: 100%;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: brown;
    font-style: italic;
}
h4{
    color: brown;
}
table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #437e0c;
}
th{
    font-weight: 800;
    background-color: #437e0c;
    color: white;
}
#menu{
    width: 100%;
    height: 40px;
    background-color: coral;
    padding-top: 12px;
}
#menu a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color: tomato;
}
form{
    background-color: cornflowerblue;
    border-style: solid;
    padding-left: 40px;
}
